<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../assets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="page-header">Media Extractor</h1>
    <hr>
    {% for subfolder, files in subfolder_contents.items() %}
    <div class="row">
        <div class="col-12">
            <h2>{{ subfolder }}</h2>
        </div>
        {% for file in files %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="img-fluid" align="center">
                <img src="{{ url_for('send_image', subdirectory=subfolder, image_name=os.path.basename(file)) }}" alt="{{ os.path.basename(file) }}" class="img-responsive" width="75" height="auto">
                <div class="caption">
                    <h6>{{ os.path.basename(file) }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script src="../assets/bootstrap.bundle.min.js"></script>
</body>
</html>
